body {
    --color-primary: #35bb1e;
    --color-primary-dark: #239010;
    --color-secondary: #3f433d;
    --color-error: #cc3333;
    --color-success: #1bcb00;
    --border-radius: 4px;

    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: url(./pawpatrol.png) center/cover no-repeat; /* Added center/cover no-repeat for better background handling */
}

.container {
    width: 100%;
    max-width: 400px; /* Adjusted to ensure responsiveness */
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
    background: #EDF77D;
    font-family: 'Quicksand', sans-serif; /* Corrected font-family */
}

.container,
.form__input,
.form__button {
    font-weight: 500;
    font-size: 1rem;
}

.form--hidden {
    display: none;
}

.form > *:first-child {
    margin-top: 0;
}

.form > *:last-child {
    margin-bottom: 0;
}

.form__title {
    margin-bottom: 2rem;
    text-align: center;
}

.form__message {
    text-align: center;
    margin-bottom: 1rem;
}

.form__message--success {
    color: var(--color-success);
}

.form__message--error {
    color: var(--color-error);
}

.form__input-group {
    margin-bottom: 1rem;
}

.form__input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid #f1f4f1;
    outline: none;
    background: #dddddd;
    transition: background 0.2s, border-color 0.2s;
}

.form__input:focus {
    border-color: var(--color-primary);
    background: #76a4039a;
}

.form__input--error {
    color: var(--color-error);
    border-color: var(--color-error);
}

.form__input-error-message {
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color: var(--color-error);
}

.form__button {
    width: 100%;
    padding: 1rem 2rem;
... (32 lines left)
}